<div bsModal #removeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("删除成员")}}: </span>
                    <span>{{groupName}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <!--  -->
                    <select #CompanyCombobox class="form-control" [(ngModel)]="selectedCompanyId" [attr.data-live-search]="true">
                        <option *ngFor="let company of companies" [value]="company.id">{{company.ownerName}}</option>
                    </select>
                    <!--  -->
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                <button type="submit" class="btn btn-primary blue" (click)=" save()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i
                        class="fa fa-save"></i> <span>{{l("Delete")}}</span></button>
            </div>
        </div>
    </div>
</div>


<!-- 
ownerGroupGroupName: "服装百货组"
ownerGroupMember: OwnerGroupMemberDto
id: 5
ownerCode: "LK01HPH---lk01华品行"
ownerGroupId: 2
ownerName: "lk01华品行
 -->