<div class="row align-items-center m--margin-bottom-10" >
    <div class="col-4">
        <input type="text" class="form-control" (ngModelChange)="minWeightChange($event)" [ngModel]="selectedWeight.minWeight" placeholder="Minimum">
    </div>
    <div class="col-4">
        <input type="text" class="form-control" (ngModelChange)="maxWeightChange($event)" [ngModel]="selectedWeight.maxWeight" placeholder="Maximum">
    </div>
    <div class="col-4">
        <div #Slider class="m-nouislider m-nouislider--handle-primary m-nouislider--connect-warning"></div>
    </div>
</div>
